
#wrapper
    background: #F4F4F4;

.button
    color: #3C3B3B;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
    border: 1px solid #EEEEEE;
    text-decoration none;
    letter-spacing: 3.92px;
    padding: 20px 35px;

.disabled
    color: #D5D5D5;

.large
  padding: 20px 35px;

.next, .previous
    border: 1px solid #E1E1E1;

.author img 
    border-radius: 50%;

.post>.featured img, .mini-post>.image img
    width: 100vw;

.pagination
    display: flex;
    flex-direction: column-reverse;
    align-items: center;