*
    margin: 0;
    padding: 0;
    box-sizing: border-box;

html 
    font-family: Source Sans Pro;

#header
    background: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $lightgray2;
    border-radius: 0px 0px 1px 0px;

#header>.links
    display: none;

#header a
    text-decoration: none;

.links_item a
        text-decoration: none;

.main_title a
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    letter-spacing: 2.8px;
    color: $dark;

.main> div> .menu> a
    padding: 20px 25px;
    color: $gray;
    border-left: 1px solid $lightgray2;


.post 
    background-color: $white;
    text-align: center;
    margin: 40px 0;

.post .header
    padding: 73px 0 51px 0;
    text-transform: uppercase;

.post .title
    text-align: center;
    padding: 0 66px;
    letter-spacing: 3.92px;

.secondary_title
    margin-bottom: 20px;

.secondary_title  a 
    font-size: 20px;
    font-weight: bold;
    color: $dark;
    letter-spacing: 6.6px;
    text-decoration none;
    padding-bottom: 20px;


@media (min-width: 767px){
  .secondary_title  a {
    font-size: 28px;
  }
}

.post .title .paragraph 
    font-size: 14px;
    color: $darkgray2;
    margin-top: 20px;

.meta 
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 30px;
    padding: 0 90px;

@media (min-width: 767px){
    .meta {
        float: right;
        padding: 0 30px 51px;
    }
}    

.meta>.published
    font-weight: bold;
    letter-spacing: 1.68px;
    color: $dark;

.meta>.author
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15px;

.meta>.author>.name
    font-size: 12px;
    color: $darkgray2;
    letter-spacing: 1.68px;

.post>.paragraph
    font-size: 16px;
    color: $dark;
    text-align: left;
    padding: 40px 16px;
    letter-spacing: 1.28px;
    line-height: 1.5;

.post>.featured img
    width: 100vw;

@media (min-width: 767px){
    .post>.featured img {
        width: 95vw;
    }
}

.post>.footer
    padding: 20px 0 70px 0;

@media (min-width: 767px){
    .post .footer .actions span {
        display: flex;
        padding-left: 18px;
        }
}

.pagination
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

@media (min-width: 767px){
    .pagination {
        flex-direction: row-reverse;
        justify-content: center;
    }
}

.pagination> span 
    margin: 30px 0;

@media (min-width: 767px){
    .pagination> span {
        margin: 30px 0 30px 18px;
    }
}    

@media (min-width: 767px){
    .mini-posts {
        display: grid;
        grid-template-columns: 394px 368px;
        justify-content: center;
    }
}

.mini-post
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 30px 0 0;
    text-transform: uppercase;

.mini-post>.header
    background: $white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px 30px 0;
    width: 100vw;

@media (min-width: 767px){
    .mini-post>.header {
        width: 48vw;
        min-height: 115px;
    }
}

@media (min-width: 767px){
    .mini-post>. a {
        width: 48vw;
    }
}

.mini-post>.image img
    width: 100vw;
    height: 100%;

@media (min-width: 767px){
    .mini-post>.image img {
        width: 48vw;
        height: 100%;
    }
}

.mini-post>.header>.tertiary_title  a 
    font-size: 14px;
    color: $dark;
    letter-spacing: 3.92px;
    text-decoration: none;
    padding-bottom: 20px;

.mini-post>.header>.published
    font-size: 12px;
    color: $darkgray;
    letter-spacing: 1.44px;
    padding-top: 5px;

.mini-post>.header>.author
    position: absolute;
    display: flex;
    right: 30px;
    top: 33px;



.posts 
    text-transform: uppercase;

@media (min-width: 767px){
    .posts {
        display: grid;
        grid-template-columns: 367px 368px;
        justify-content: center;
        gap: 0 25px;
    }
}

.posts>.header>.tertiary_title> a
    font-weight: bold;

.posts> span> div
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 30px 0;
    border-bottom: 1px solid $lightgray;

.posts> span> div> a> img
    width: 70px;

.posts> span> div>.header
    padding-left: 30px;
    display: flex;
    flex-direction: column;

.posts> span> div>.header>.tertiary_title a 
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3.36px;
    color: $dark;

.posts> span> div>.header>.published
    font-size: 12px;
    letter-spacing: 1.44px;
    color: $darkgray;
    padding-top: 10px;



.blurb
    padding: 30px 20px 70px 20px;

.blurb>.secondary_title
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.84px;
    color: $dark;
    text-transform: uppercase;

.blurb>.paragraph
    margin: 30px 0 85px;
    letter-spacing: 0px;
    line-height: 1.8;
    color: $darkgray;